doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='css/intlTelInput.min.css')
  link(rel='stylesheet' href='css/style.css')
  style.
    .iti__flag {
    background-image: url("img/flags.png");
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
    background-image: url("img/flags@2x.png");
    }
    }
.form
  .form-toggle
  .form-toggle.toggle-two
  .form-panel.one
    .form-header
      h1 Leaving
    .form-content
      form(action='/leave' method='POST')
        .form-group
          label(for='email') Enter Email
          input#email(type='email' name='email' required='required')
        .form-group
          label.form-recovery <<------visitor
          label.form-recovery Update Host? ------->>
        .form-group
          button(type='submit') CheckOut
  .form-panel.two
    .form-header
      h1 Host Details
      label current host is : #{host}
    .form-content
      form(name='host-form' onsubmit='return validateFormHost()' action='/updateHost' method='POST')
        .form-group
          label(for='name') Name
          input#name(type='text' name='name' required='required')
        .form-group
          label(for='email') Email
          input#email(type='email' name='email' required='required')
        .form-group
          label(for='phone') Phone
          input#phone1(type='tel' name='phone' required='required')
        .form-group
          label(for='address') Address
          input#address(type='text' name='address' required='required')
        .form-group
          button(type='submit') Update
  .form-panel.two.two-two
    .form-header
      h1 Visitor Details
    .form-content
      form(name='visitor-form' onsubmit='return validateFormVisitor()' action='\entry' method='POST')
        .form-group
          label(for='name') Name
          input#name(type='text' name='name' required='required')
        .form-group
          label(for='phone') Phone
          input#phone2(type='tel' name='phone' required='required')
        .form-group
          label(for='email') Email Address
          input#email(type='email' name='email' required='required')
        .form-group
          button(type='submit') Check In
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/validator/11.1.0/validator.min.js')
script(src='/js/intlTelInput.min.js')
script(src='js/validator.js')
script(src='js/script.js')
