doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=600, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='apple-touch-icon' sizes='57x57' href='img/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='img/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='img/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='img/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='img/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='img/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='img/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='img/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='img/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='img/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='img/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='img/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='img/favicon-16x16.png')
  link(rel='manifest' href='img/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  title Entry-manager
  link(rel='stylesheet' href='css/intlTelInput.min.css')
  link(rel='stylesheet' href='css/style.css')
  style.
    .iti__flag {
    background-image: url("img/flags.png");
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
    background-image: url("img/flags@2x.png");
    }
    }
.form
  .form-toggle
  .form-toggle.toggle-two
  .form-panel.one
    .form-header
      h1 Leaving
    .form-content
      form(action='/leave' method='POST')
        .form-group
          label(for='email') Enter Email
          input#email(type='email' name='email' required='required')
        .form-group
          label.form-recovery <<------visitor?
          label.form-recovery Host? ------->>
        .form-group
          button(type='submit') CheckOut
  .form-panel.two
    .form-header
      h1 Host Details
      label current host : #{host || 'no-one'}
    .form-content
      form(name='host-form' onsubmit='return validateFormHost()' action='/updateHost' method='POST')
        .form-group
          label(for='name') Name
          input#name(type='text' name='name' required='required')
        .form-group
          label(for='email') Email
          input#email(type='email' name='email' required='required')
        .form-group
          label(for='phone') Phone
          input.phone(type='tel' name='phone' required='required')
        .form-group
          label(for='address') Address
          input#address(type='text' name='address' required='required')
        .form-group
          button(type='submit') Update
  .form-panel.two.two-two
    .form-header
      h1 Visitor Details
      label current host : #{host || 'no-one'}
    .form-content
      form(name='visitor-form' onsubmit='return validateFormVisitor()' action='\entry' method='POST')
        .form-group
          label(for='name') Name
          input#name(type='text' name='name' required='required')
        .form-group
          label(for='phone') Phone
          input.phone(type='tel' name='phone' required='required')
        .form-group
          label(for='email') Email Address
          input#email(type='email' name='email' required='required')
        .form-group
          button(type='submit') Check In
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/validator/11.1.0/validator.min.js')
script(src='/js/intlTelInput.min.js')
script(src='js/validator.js')
script(src='js/script.js')

