<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <style>
      body {
        background-color: rgb(134, 77, 187);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <a>
          <h1 class="one-half column">Thanks for your Time</h1>
        </a>
      </div>
      <div class="row">
        <h1 class="one-half column">We Summary of this visit to you</h1>
      </div>
    </div>

    <script>
      setTimeout(() => {
        window.location = "/";
      }, 2000);
    </script>
  </body>
</html>
