doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='css/style.css')
.container
  .form
    .form-panel.two
    .form-panel.two.two-two
    .form-panel.one
      .form-header
        h1 #{one}
      .form-header
        h1 #{two}
      .form-header
        h1 #{three}
  script.
    setTimeout(() => {
    window.location = "/";
    }, 3000);
