doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='shortcut icon' href='img/favicon.png' )
  link(rel='icon' href='img/favicon.png')
  title Entry-manager | message
  link(rel='stylesheet' href='css/style.css')
.container
  .form
    .form-panel.two
    .form-panel.two.two-two
    .form-panel.one
      .form-header
        h1 #{one}
      .form-header
        h1 #{two}
      .form-header
        h1 #{three}
      .form-group
          button(onclick="backToHome()") Okay!
  script.
    function backToHome(){
      window.location = "/";
    };
